

        <!-- HERO SLIDER SECTION -->
        <section class="trd-hero-slider-section">
            <div class="slider-pro trd-hero-slider" id="trd-fixed-slider">
                <div class="sp-slides">

                    <!-- Slides -->
                    <div class="sp-slide trd-main-slides">
                        <div class="trd-dark-color-overlay"></div>

                        <%= image_tag "slider-img-4.jpg", class: "sp-image" %>

                        <h1 class="sp-layer trd-slider-text-big"
                         data-position="center" data-vertical="-130"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                            Financial Express
                         </h1>

                        <p class="sp-layer trd-slider-text-small"
                         data-position="center" data-vertical="40" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                            We Make Money For You <br>While You Sleep
                        </p>

                        <div class="sp-layer trd-hero-header-btns" data-position="center" data-vertical="220" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                            <a href="#" class="trd-btn">Details</a>
                        </div>
                    </div>
                    <!-- Slides End -->


                    <!-- Slides -->
                    <div class="sp-slide trd-main-slides">
                        <div class="trd-dark-color-overlay"></div>
                        <%= image_tag "home4-slider-img-2.jpg", class: "sp-image" %>

                        <h1 class="sp-layer trd-slider-text-big"
                         data-position="center" data-vertical="-130"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                            Financial Express
                         </h1>

                        <p class="sp-layer trd-slider-text-small"
                         data-position="center" data-vertical="40" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                            We Are Expert Brokers  <br>You Do Zero Work And Make 200% In Just One Week
                        </p>

                        <div class="sp-layer trd-hero-header-btns" data-position="center" data-vertical="220" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                            <a href="#" class="trd-btn">Details</a>
                        </div>
                    </div>
                    <!-- Slides End -->

                </div>
            </div>
        </section>
        <!-- HERO SLIDER SECTION END -->

        <!-- KEY TO SUCCESS SECTION -->
        <section class="trd-we-are-section trd-section">
            <div class="container">
                <div class="row">
                    <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
                        <h1 class="trd-section-tittle">We are <span class="trd-highlight-text">Expert Optioners </span></h1>
                    </div>


                    <div class="trd-we-are-trade">

                        <!-- Imagebox with Text -->
                        <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
                            <div class="trd-imagebox-with-text">
                                <div class="trd-image-wrapper">
                                    <%= image_tag "imgbox-img-7.jpg" %>
                                </div>

                                <div class="trd-imagebox-details">
                                    <h3>
                                        <a href="#">Proper Planing</a>
                                    </h3>
                                    <p>Checkout and enjoy the biggest explain to you how is mistaken</p>
                                </div>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Imagebox with details -->
                        <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
                            <div class="trd-imagebox-with-text ">
                                <div class="trd-image-wrapper">
                                    <%= image_tag "imgbox-img-6.jpg" %>
                                </div>

                                <div class="trd-imagebox-details">
                                    <h3>
                                        <a href="#">Easy Trading</a>
                                    </h3>
                                    <p>Make Trading Work For You The Right Way </p>
                                </div>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Imagebox with details -->
                        <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
                            <div class="trd-imagebox-with-text">
                                <div class="trd-image-wrapper">
                                    <%= image_tag "imgbox-img-5.jpg" %>
                                </div>

                                <div class="trd-imagebox-details">
                                    <h3>
                                        <a href="#">Consulting</a>
                                    </h3>
                                    <p>Consult Our Experts On the Better Way To Trade</p>
                                </div>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Text with link -->
                        <div class="col-md-3 col-sm-6 col-xs-12 trd-text-link-section">
                            <div class="trd-text-link-wrapper trd-gray-section">
                                <h1 class="trd-section-tittle">Let’s make <br>a <span class="trd-highlight-text">better</span> business</h1>
                                <p>Buisness And Money Should Be Working For You. Lets Make That Happen </p>
                                <a href="#" class="trd-details-link">Details</a>
                            </div>
                        </div>
                        <!-- End -->

                    </div>
                </div>
            </div>
        </section>
        <!-- KEY TO SUCCESS SECTION END -->

        <!-- SERVICE SECTION -->
        <section class="trd-service-section trd-section">
            <div class="container">
                <div class="row">
                    <!-- Icon with text -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                        <div class="trd-icon-wrapper">
                            <i class="tradeicon-trd-coffee-mug"></i>
                        </div>

                        <div class="trd-details">
                            <h3>
                                <a href="#">Financial Service</a>
                            </h3>

                            <p>Enjoy One Of The Bggest Financial Software In The World</p>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Icon with text -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                        <div class="trd-icon-wrapper">
                            <i class="tradeicon-trd-trophy"></i>
                        </div>

                        <div class="trd-details">
                            <h3>
                                <a href="#">Best Consultancy</a>
                            </h3>

                            <p>Our Consultants Are Open to Communicate with You Everyday </p>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Icon with text -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                        <div class="trd-icon-wrapper">
                            <i class="tradeicon-trd-chart-board"></i>
                        </div>

                        <div class="trd-details">
                            <h3>
                                <a href="#">Business Analysis</a>
                            </h3>

                            <p>Analyse The Chang In The World currency Market Cap</p>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </section>
        <!-- SERVICE SECTION END -->

        <!-- CUSTOM SECTION -->
        <section class="trd-custom-section trd-gray-section">
            <div class="container">
                <div class="row">
                    <div class="trd-custom-sec-details">
                        <h1>We are Expert !</h1>
                        <p>Checkout and enjoy the biggest limited offers  <span class="trd-highlight-text">for</span> free </p>
                        <p class="trade-job-positon">Director</p>
                        <span class="tread-signature">
                            <%= image_tag "signature.png" %>
                        </span>
                    </div>

                    <div class="trd-custom-sec-img-wrapper">
                        <%= image_tag "testimonial-bg.jpg" %>
                    </div>
                </div>
            </div>
        </section>
        <!-- CUSTOM SECTION END -->
        <!-- SERVICE SECTION -->
              <section class="trd-service-section trd-section">
                  <div class="container">
                      <div class="row">
                          
                          <!-- End -->
                      </div>
                  </div>
              </section>
              <!-- SERVICE SECTION END -->
        <!-- CLIENT LOGO CAROUSAL -->
        <section class="trd-partners-logo-section">
            <div class="container">
                <div class="row">
                    <ul>
                        <li><%= image_tag 'client-logo-1.png' %></li>
                        <li><%= image_tag 'client-logo-2.png' %></li>
                        <li><%= image_tag 'client-logo-3.png' %></li>
                        <li><%= image_tag 'client-logo-4.png' %></li>
                        <li><%= image_tag 'client-logo-5.png' %></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- CLIENT LOGO CAROUSAL END -->

        <!-- COUNTER SECTION -->
        <section class="trd-counter-section trd-section trd-hometwo-counter">
            <div class="container">
                <div class="row">
                    <!-- Counter Item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                        <h3 class="trd-count" data-from="0" data-to="540">0</h3>
                        <p>Data &amp; Analysis</p>
                    </div>
                    <!-- End -->

                    <!-- Counter Item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-counter trd-count-client">
                        <h3 class="trd-count" data-from="0" data-to="400">0</h3>
                        <p>Happy Clients</p>
                    </div>
                    <!-- End -->

                    <!-- Counter Item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                        <h3 class="trd-count" data-from="0" data-to="670000">0</h3>
                        <p>Money Made</p>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </section>
        <!-- COUNTER SECTION END -->

        <!-- TEAM SECTION -->


        <!-- CLIENT TESTIMONIAL SECTION -->
        <section class="trd-client-testimonial-section trd-section">
            <div class="container">
                <div class="row">
                    <!-- Section Title -->
                    <div class="trd-section-title-wrapper">
                        <h1 class="trd-section-tittle">Client’s <span class="trd-highlight-text">Testimonial</span></h1>
                    </div>
                    <!-- End -->

                    <div id="trd-testimonial" class="trd-testimonial">
                        <!-- Slides -->
                        <div class="trd-testimonial-slides">
                            <div class="trd-testimonial-text">
                                <p>I am really satisfied by their work a <span class="trd-highlight-text">creative</span> TThinking can bring good change to business and personal sectors. Great idea</p>
                            </div>

                            <div class="trd-satisfied-user-info">
                                <div class="trd-user-img-wrapper">

                                </div>
                                <h3>Adrian</h3>
                                <p>Designer, Finance co</p>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Slides -->
                        <div class="trd-testimonial-slides">
                            <div class="trd-testimonial-text">
                                <p>Nice WOrk <span class="trd-highlight-text">creative</span> I just Made 2000$ nearly doing nothing just investing some amount which is great </p>
                            </div>

                            <div class="trd-satisfied-user-info">
                                <div class="trd-user-img-wrapper">
                                </div>
                                <h3>David Paul</h3>
                                <p>Founder, Buz Daily</p>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Slides -->
                        <div class="trd-testimonial-slides">
                            <div class="trd-testimonial-text">
                                <p>I realy thank You <span class="trd-highlight-text">creative</span> For making my dreams come true . THANKS ALOT </p>
                            </div>

                            <div class="trd-satisfied-user-info">
                                <div class="trd-user-img-wrapper">
                                    <img src="images/clients-img-3.png" alt="Clients Image">
                                </div>
                                <h3>Natasha</h3>
                                <p>Developer, Gossip</p>
                            </div>
                        </div>
                        <!-- Slides -->
                        <div class="trd-testimonial-slides">
                            <div class="trd-testimonial-text">
                                <p>Nice WOrk <span class="trd-highlight-text">creative</span> I just Made 2000$ nearly doing nothing just investing some amount which is great </p>
                            </div>

                            <div class="trd-satisfied-user-info">
                                <div class="trd-user-img-wrapper">
                                </div>
                                <h3>David Paul</h3>
                                <p>Founder, Buz Daily</p>
                            </div>
                        </div>
                        <!-- End -->
                        <div class="trd-testimonial-slides">
                            <div class="trd-testimonial-text">
                                <p>I realy thank You <span class="trd-highlight-text">creative</span> For making my dreams come true . THANKS ALOT </p>
                            </div>

                            <div class="trd-satisfied-user-info">
                                <div class="trd-user-img-wrapper">
                                    <img src="images/clients-img-3.png" alt="Clients Image">
                                </div>
                                <h3>Natasha</h3>
                                <p>Developer, Gossip</p>
                            </div>
                        </div>

                         <!-- Slides -->



                        <!-- End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- CLIENT TESTIMONIAL SECTION END -->

        <!-- CTA SECTION -->
        <section class="trd-cta-section">
            <div class="container">
                <div class="row">
                    <div class="trd-cta-wrapper">
                        <h3>We help you to create the best <span class="trd-highlight-text">business</span> plan , resource &amp; execution</h3>
                        <a href="#" class="trd-btn trd-btn-alt">Get a Quote</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- CTA SECTION END -->
