<!DOCTYPE html>
<html>
  <head>
    <title>Expert Optioner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="trd-home-template trd-homepage-fourth" >
    <%= render "shared/header" %>

    <div class="container">
      <div class="col-md-8 col-md-offset-2" style="padding-top:50px;">
    <% if notice %>
    <div class="alert alert-success fade in">
       <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p><%= notice %> </p>
      </div>
      <% end %>
      <% if alert %>
          <div class="alert alert-danger fade in">
             <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p><%= alert %></p>
          </div>
          <% end %>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
